html,
body {
    width: 100px;
}

.hidden {
    display: none;
}

.but {
    margin: 3%;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.show {
    background-color: aliceblue;
}

.show:hover{
    background-color: rgb(177, 182, 187);
}

.reset{
    background-color: aquamarine;
}

.reset:hover{
    background-color:aqua;
}