div.left_ui {
  position: fixed;
  background-color: #CCCCCC;
  border: 3px;
  border-color: #666699;
  border-style: solid;
  height: 320px;
  width: 60px;
  border-radius: 20px;
  transition: 0.3s;
  overflow: hidden;
}

div.ui {
  display: flex;
  float: left;
}

div.luihead {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px;
  border-style: solid;
  border-color: rgb(234, 231, 217);
  margin: auto;
}

div.left_ui:hover {
  width: 300px;
  z-index: 1;
}

div.left_ui:hover div.switchs {
  display: flex;
}

.searchs {
  display: flex;
}

.danmus {
  display: flex;
}

#search {
  width: 40px;
  margin: 10px;
}

#download {
  width: 40px;
  margin: 10px;
}

#danmu {
  width: 40px;
  margin: 10px;
}

#switch {
  width: 40px;
  margin: 10px;
}

.line {
  width: 40px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.3s;
  opacity: 0.3;
}

div.searchs:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.downloads:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.danmus:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.switchs:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.left_ui:hover .line {
  width: 260px;
  opacity: 0.6;
}

img.search-img {
  width: 10%;
  border: none;
}

button {
  background-color: #CCCCCC;
  border-radius: 10px;
  border-width: 2px;
}

button:hover {
  background-color: #e8e8e8;
}

button:active {
  background-color: #CCCCCC;
}

input.search-in {
  width: 207px;
  border-radius: 10px;
  border-color: slategrey;
  margin-bottom: 2px;
  background-color: #CCCCCC;
}

.videoicons {
  width: 300px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 0;
}

.videotext {
  margin-top: 0;
  text-align: center;
}

.videoset {
  margin-left: 50px;
  border-style: solid;
  margin-bottom: 40px;
  height: 210px;
  background-image: url("../source/img/cool-background.png");
  float: left;
}

.main {
  width: 1500px;
  margin-left: 40px;
}

.player {
  width: 1440px;
  margin-left: 90px;
  height: 810px;
  float: right;
  border-style: inset;
  border-radius: 20px;
  border-width: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  background-image: url('../source/img/template.png');
}