div.left_ui {
  position: fixed;
  background-color: #CCCCCC;
  border: 3px;
  border-color: #666699;
  border-style: solid;
  height: 320px;
  width: 60px;
  border-radius: 20px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 200;
}

div.ui {
  display: flex;
  float: left;
}

div.luihead {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px;
  border-style: solid;
  border-color: rgb(234, 231, 217);
  margin: auto;
}

div.left_ui:hover {
  width: 300px;
  z-index: 1;
}

div.left_ui:hover div.switchs {
  display: flex;
}

.searchs {
  display: flex;
}

.danmus {
  display: flex;
}

#search {
  width: 40px;
  margin: 10px;
}

#download {
  width: 40px;
  margin: 10px;
}

#danmu {
  width: 40px;
  margin: 10px;
}

#switch {
  width: 40px;
  margin: 10px;
}

.line {
  width: 40px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
  margin-left: 10px;
  transition: 0.3s;
  opacity: 0.3;
}

div.searchs:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.downloads:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
  cursor: pointer;
}

div.danmus:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
}

div.switchs:hover {
  border-radius: 5%;
  background-color: rgb(164, 164, 164);
  cursor: pointer;
}

div.left_ui:hover .line {
  width: 260px;
  opacity: 0.6;
}

img.search-img {
  width: 10%;
  border: none;
}

button {
  background-color: #CCCCCC;
  border-radius: 10px;
  border-width: 2px;
}

button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

button:active {
  background-color: #CCCCCC;
}

input.search-in {
  width: 207px;
  border-radius: 10px;
  border-color: slategrey;
  margin-bottom: 2px;
  background-color: #CCCCCC;
}

.videoicons {
  width: 300px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin-bottom: 0;
}

.videotext {
  margin-top: 0;
  text-align: center;
}

.videoset {
  margin-left: 50px;
  border-style: solid;
  margin-bottom: 40px;
  height: 210px;
  background-image: url("../source/img/cool-background.png");
  float: left;
  border-radius: 15px;
  overflow: hidden;
}

.videoset:hover {
  cursor: pointer;
}

.main {
  width: 1500px;
  margin-left: 40px;
  float: left;
}

.playwindow {
  display: flex;
  width: 920px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left: 70px;
}

.playbox {
  background-color: rgb(185, 185, 185);
  width: 600px;
  padding: 40px 10px 0px 10px;
  border-radius: 20px;
  border-style: solid;
}

.progress {
  margin-top: 5px;
  width: 600px;
  height: 6px;
  background-color: #888888;
  border-radius: 3px;
  position: relative;
}

.progress:hover {
  cursor: pointer;
}

.progress .now {
  width: 0;
  height: 6px;
  background-color: rgb(38, 0, 255);
  border-radius: 3px;
  transition: width 500ms;
  position: absolute;
  top: 0;
  left: 0;
}

.consoles {
  display: flex;
  justify-content: space-between;
  height: 45px;
  font-size: 13px;
  margin-top: -5px;
  color: white;
}

.l-group,
.r-group {
  display: flex;
  padding: 10px;
}

#maside {
  width: 200px;
  flex: none;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  background-color: rgb(185, 185, 185);
  border-radius: 20px;
  border-style: solid;
}

.mlist{
  flex: auto;
  border: solid 0px #008B8B;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px;
  overflow-y: auto;
}

.mlist div{
  margin-top: 5px;
}

.mlist span{
  color: #6b0fff;
}

.send{
  height: 30px;
  display: flex;
  margin-top: 4px;
}

.send .stext{
  flex: auto;
  position: relative;
  bottom: 3px;
  border-width: 1px;
  height: 26px;
  border-radius: 20px;
  margin-right: 2px;
}

.send .sbtn{
  width: 65px;
  height: 30px;
  color:white;
  background-color: #a8a8a8;
  border-radius: 20px;
  border-width: 1px;
  position:relative;
  bottom: 3px;
}



.fullscreen {
  width: 15px;
  height: 15px;
  background-color: currentColor;
  border-radius: 0px;
  margin: 5px 0 0 10px;
}

.fullscreen i {
  display: block;
  width: inherit;
  height: inherit;
  background-color: rgb(185, 185, 185);
  border-radius: 50%;
}

.play,
.pause,
.stop,
.mute {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  position: relative;
}

.buts {
  width: 25px;
  height: 25px;
}

.buts:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

#thisvideo {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

#thisvideo:hover {
  cursor: pointer;
}

.muted:hover {
  cursor: pointer;
}

.videobox {
  border-radius: 10px;
  overflow: hidden;
}

.play:hover,
.pause:hover,
.stop:hover,
.mute:hover,
.fullscreen:hover {
  color: rgb(156, 148, 136);
  cursor: pointer;
}

.time {
  line-height: 25px;
  margin: 0px 10px;
}

.speed {
  width: 80px;
  text-align: center;
  line-height: 25px;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
}

.speed .speed_list {
  width: 100%;
  border: solid 1px #000000;
  background-color: rgb(185, 185, 185);
  border-radius: 5px;
  line-height: 35px;
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 2;
  display: none;
  transition: 300ms;
  opacity: 0;
}

.speed .speed_list div:hover {
  background-color: rgb(70, 70, 70);
}

.speed:hover .speed_list {
  display: block;
  opacity: 1;
}

.volume {
  width: 60px;
  height: 5px;
  background-color: #CCCCCC;
  border-radius: 4px;
  position: relative;
  margin-top: 9px;
  margin-left: 5px;
  margin-right: 15px;
}

.volume .curvolume {
  width: 60px;
  height: inherit;
  background-color: rgb(38, 0, 255);
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 200ms;
}

.volume .slider-control{
  width: 13px;
  height:13px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px #666666;
  position: absolute;
  top: -5px;
  left: 51px;
  opacity: 0;
  transition: 200ms;
}

.volume:hover .slider-control{
  opacity: 1;
  cursor: pointer;
}

.barrgebut{
  margin-left: 5px;
}

@keyframes barrgeAnimation{
  0%{
    right:0;
    transform: translate(100%,0);
  }
  100%{
    right: 100%;
    transform: translate(0,0);
  }
}

.barrges{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  overflow: hidden;
  margin-left: 90px;
  border-radius: 10px;
  margin-top: 50px;
}

.barrges div{
  position: absolute;
  right: 100%;
  font-size: 20px;
  color: #fefcf9;
  white-space: nowrap;
  text-shadow: 0 0 2px #999;
  animation: barrgeAnimation ease-in 10s;
}

